### I. Library import

In [59]:
import pandas as pd
import numpy as np

### II. Exploration

- id_mutation : Identifiant de mutation (non stable, sert à grouper les lignes)
- date_mutation : Date de la mutation au format ISO-8601 (YYYY-MM-DD)
- numero_disposition : Numéro de disposition
- nature_mutation : Nature de la mutation
- valeur_fonciere : Valeur foncière (séparateur décimal = point)
- adresse_numero : Numéro de l'adresse
- adresse_suffixe : Suffixe du numéro de l'adresse (B, T, Q)
- adresse_code_voie : Code FANTOIR de la voie (4 caractères)
- adresse_nom_voie : Nom de la voie de l'adresse
- code_postal : Code postal (5 caractères)
- code_commune : Code commune INSEE (5 caractères)
- nom_commune : Nom de la commune (accentué)
- ancien_code_commune : Ancien code commune INSEE (si différent lors de la mutation)
- ancien_nom_commune : Ancien nom de la commune (si différent lors de la mutation)
- code_departement : Code département INSEE (2 ou 3 caractères)
- id_parcelle : Identifiant de parcelle (14 caractères)
- ancien_id_parcelle : Ancien identifiant de parcelle (si différent lors de la mutation)
- numero_volume : Numéro de volume
- lot_1_numero : Numéro du lot 1
- lot_1_surface_carrez : Surface Carrez du lot 1
- lot_2_numero : Numéro du lot 2
- lot_2_surface_carrez : Surface Carrez du lot 2
- lot_3_numero : Numéro du lot 3
- lot_3_surface_carrez : Surface Carrez du lot 3
- lot_4_numero : Numéro du lot 4
- lot_4_surface_carrez : Surface Carrez du lot 4
- lot_5_numero : Numéro du lot 5
- lot_5_surface_carrez : Surface Carrez du lot 5
- nombre_lots : Nombre de lots
- code_type_local : Code de type de local
- type_local : Libellé du type de local
- surface_reelle_bati : Surface réelle du bâti
- nombre_pieces_principales : Nombre de pièces principales
- code_nature_culture : Code de nature de culture
- nature_culture : Libellé de nature de culture
- code_nature_culture_speciale : Code de nature de culture spéciale
- nature_culture_speciale : Libellé de nature de culture spéciale
- surface_terrain : Surface du terrain
- longitude : Longitude du centre de la parcelle concernée (WGS-84)
- latitude : Latitude du centre de la parcelle concernée (WGS-84)

In [60]:
df = pd.read_csv("full2023.csv",low_memory=False)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799407 entries, 0 to 3799406
Data columns (total 40 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id_mutation                   object
 1   date_mutation                 object
 2   numero_disposition            int64
 3   nature_mutation               object
 4   valeur_fonciere               float64
 5   adresse_numero                float64
 6   adresse_suffixe               object
 7   adresse_nom_voie              object
 8   adresse_code_voie             object
 9   code_postal                   float64
 10  code_commune                  object
 11  nom_commune                   object
 12  code_departement              object
 13  ancien_code_commune           float64
 14  ancien_nom_commune            object
 15  id_parcelle                   object
 16  ancien_id_parcelle            float64
 17  numero_volume                 object
 18  lot1_numero                   object
 19  lot1_surface_carrez           float64
 20  lot2_numero                   object
 21  lot2_surface_carrez           float64
 22  lot3_numero                   object
 23  lot3_surface_carrez           float64
 24  lot4_numero                   float64
 25  lot4_surface_carrez           float64
 26  lot5_numero                   object
 27  lot5_surface_carrez           float64
 28  nombre_lots                   int64
 29  code_type_local               float64
 30  type_local                    object
 31  surface_reelle_bati           float64
 32  nombre_pieces_principales     float64
 33  code_nature_culture           object
 34  nature_culture                object
 35  code_nature_culture_speciale  object
 36  nature_culture_speciale       object
 37  surface_terrain               float64
 38  longitude                     float64
 39  latitude                      float64
dtypes: float64(17), int64(2), object(21)
memory usage: 1.1+ GB

In [62]:
#The objective here is to check to proportion of missing value in each column
print(f"The data set size is : {df.shape} \n")
print(df.isna().sum()*(100/df.shape[0]))

The data set size is : (3799407, 40)

id_mutation                       0.000000
date_mutation                     0.000000
numero_disposition                0.000000
nature_mutation                   0.000000
valeur_fonciere                   0.893639
adresse_numero                   38.145532
adresse_suffixe                  95.590049
adresse_nom_voie                  0.678237
adresse_code_voie                 0.668762
code_postal                       0.675316
code_commune                      0.000000
nom_commune                       0.000000
code_departement                  0.000000
ancien_code_commune              99.998210
ancien_nom_commune               99.998210
id_parcelle                       0.000000
ancien_id_parcelle              100.000000
numero_volume                    99.777913
lot1_numero                      69.063356
lot1_surface_carrez              91.174939
lot2_numero                      90.378841
lot2_surface_carrez              97.101679
lot3_numero                      98.284996
lot3_surface_carrez              99.675186
lot4_numero                      99.463232
lot4_surface_carrez              99.924304
lot5_numero                      99.772017
lot5_surface_carrez              99.975259
nombre_lots                       0.000000
code_type_local                  42.408960
type_local                       42.408960
surface_reelle_bati              67.994769
nombre_pieces_principales        42.476892
code_nature_culture              31.448566
nature_culture                   31.448566
code_nature_culture_speciale     95.541910
nature_culture_speciale          95.541910
surface_terrain                  31.458804
longitude                         0.884164
latitude                          0.884164
dtype: float64

In [63]:
df.describe()

,numero_disposition,valeur_fonciere,adresse_numero,code_postal,ancien_code_commune,ancien_id_parcelle,lot1_surface_carrez,lot2_surface_carrez,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_surface_carrez,nombre_lots,code_type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
count,3.799407e+06,3.765454e+06,2.350103e+06,3.773749e+06,68.0,0.0,335300.000000,110119.000000,12341.000000,20394.000000,2876.000000,940.000000,3.799407e+06,2.188118e+06,1.216009e+06,2.185537e+06,2.604159e+06,3.765814e+06,3.765814e+06
mean,1.081593e+00,6.174104e+05,6.976841e+02,4.980735e+04,14666.0,NaN,66.455355,63.649807,69.186743,135.644307,82.812201,99.203160,4.357377e-01,2.278603e+00,1.151658e+02,1.726273e+00,3.002808e+03,2.337710e+00,4.607012e+01
std,1.117428e+00,5.111104e+06,2.004917e+03,2.753917e+04,0.0,NaN,173.455050,82.743573,91.419750,2615.602445,96.258423,119.360504,8.490437e-01,9.232781e-01,7.091048e+02,2.055317e+00,1.292455e+04,6.540552e+00,5.966473e+00
min,1.000000e+00,1.000000e-01,1.000000e+00,1.000000e+03,14666.0,NaN,0.200000,0.100000,0.430000,2.000000,0.800000,0.870000,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-6.314571e+01,-2.138615e+01
25%,1.000000e+00,6.156900e+04,8.000000e+00,2.761000e+04,14666.0,NaN,35.250000,43.395000,41.430000,7.000000,39.507500,38.240000,0.000000e+00,1.000000e+00,4.800000e+01,0.000000e+00,2.520000e+02,3.477110e-01,4.465543e+01
50%,1.000000e+00,1.600000e+05,2.500000e+01,4.908000e+04,14666.0,NaN,54.450000,61.030000,61.070000,20.000000,67.400000,73.800000,0.000000e+00,2.000000e+00,7.400000e+01,1.000000e+00,6.440000e+02,2.365866e+00,4.667449e+01
75%,1.000000e+00,3.039000e+05,9.700000e+01,7.500600e+04,14666.0,NaN,73.380000,75.960000,82.630000,55.000000,98.240000,115.130000,1.000000e+00,3.000000e+00,1.030000e+02,3.000000e+00,1.940000e+03,4.624885e+00,4.864789e+01
max,1.940000e+02,7.620000e+08,9.999000e+03,9.749000e+04,14666.0,NaN,9042.000000,8020.000000,5505.000000,201411.000000,2494.000000,2006.900000,1.500000e+02,4.000000e+00,1.995470e+05,9.500000e+01,4.653206e+06,5.582781e+01,5.108192e+01

### III.Préprocessing

In [64]:
df['date_mutation'] = pd.to_datetime(df['date_mutation'], format='%Y-%m-%d')

In [65]:
#function to delete column with more than 40% missing data
def delete_too_much_nan(data) : 
    list=[]
    for column in data.columns:
        if(((data[column].isna().sum())*100)/data.shape[0] > 50) :
            list.append(column)
    data = data.drop(columns = list)
    return data

df = delete_too_much_nan(df)

In [66]:
#We delete all not necessary columns for our analysis 
df = df.drop(columns=["id_mutation","adresse_numero","adresse_nom_voie","adresse_code_voie","code_nature_culture","nature_culture","code_postal","nom_commune","type_local","numero_disposition"])

In [67]:
#We drop all the lines with missing values
df = df.dropna()

In [68]:
#We select only the lines with the mutation type equal to "Vente"
df = df[df["nature_mutation"] == "Vente"]

In [69]:
#We create labels tranches for the price 
tranches_valeur = [0, 50000, 100000, 200000, 300000, 500000, 1000000, float('inf')]
labels_tranches = [
    "< 50k €",
    "50k - 100k €",
    "100k - 200k €",
    "200k - 300k €",
    "300k - 500k €",
    "500k - 1M €",
    "> 1M €"
]

df['tranche_valeur'] = pd.cut(df['valeur_fonciere'], bins=tranches_valeur, labels=labels_tranches, include_lowest=True)

In [70]:
#We create labels tranches for the surface 
surface_bins = [0, 50, 100, 150, 200, 500, np.inf]
surface_labels = ['0-50 m²', '50-100 m²', '100-150 m²', '150-200 m²', '200-500 m²', '>500 m²']
df['plage_surface'] = pd.cut(df['surface_terrain'], bins=surface_bins, labels=surface_labels, include_lowest=True)

In [71]:
#Create a column with the price per square metre
df['prix_m2'] = df['valeur_fonciere'] / df['surface_terrain']

In [72]:
#Create a colum with the month
df['mois_annee'] = df['date_mutation'].dt.to_period('M')

In [73]:
df.to_csv('data2023.csv', index=False)